### Задание 1

Даны значения величины заработной платы заемщиков банка (salary) и значения их поведенческого кредитного скоринга (scoring):

salary = [35, 45, 190, 200, 40, 70, 54, 150, 120, 110]

scoring = [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]

1. Найдите ковариацию этих двух величин: сначала без использования специальных функций, а затем с помощью функции numpy.cov. Полученные значения должны быть равны.
2. Найдите коэффициент корреляции Пирсона: с помощью ковариации и средних квадратических отклонений двух признаков, а затем с помощью специальных функций из библиотек numpy и pandas.

In [1]:
import numpy as np
import pandas as pd

In [2]:
salary = np.array([35, 45, 190, 200, 40, 70, 54, 150, 120, 110])

In [3]:
scoring = np.array([401, 574, 874, 919, 459, 739, 653, 902, 746, 832])

In [4]:
MX=salary.mean()
MX

101.4

In [5]:
MY=scoring.mean()
MY

709.9

In [6]:
cov=((salary-MX)*(scoring-MY)).mean()
cov

9157.84

In [7]:
cov1=(salary*scoring).mean()-MX*MY
cov1

9157.839999999997

In [8]:
cov=((salary-MX)*(scoring-MY)).sum()/(salary.shape[0]-1)
cov

10175.37777777778

In [9]:
cov=np.cov(salary,scoring)
cov

array([[ 3882.93333333, 10175.37777778],
       [10175.37777778, 33854.32222222]])

In [10]:
salary.std()

59.115480206118605

In [11]:
scoring.std()

174.55340157098058

In [12]:
corr=cov1/(salary.std()*scoring.std())
corr

0.8874900920739158

In [13]:
np.corrcoef(salary,scoring)

array([[1.        , 0.88749009],
       [0.88749009, 1.        ]])

In [14]:
data=pd.DataFrame({'salary': [35, 45, 190, 200, 40, 70, 54, 150, 120, 110], 'scoring':  [401, 574, 874, 919, 459, 739, 653, 902, 746, 832]})

In [15]:
data.corr()

          salary  scoring
salary   1.00000  0.88749
scoring  0.88749  1.00000

### Задание 2

Измерены значения IQ выборки студентов, обучающихся в местных технических вузах:

131, 125, 115, 122, 131, 115, 107, 99, 125, 111

Известно, что в генеральной совокупности IQ распределен нормально. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

In [16]:
import numpy as np
from scipy import stats

In [17]:
iq=np.array([131, 125, 115, 122, 131, 115, 107, 99, 125, 111])

In [18]:
n = iq.shape[0]

m = iq.mean()
s = iq.std(ddof=1)

n, m, s

(10, 118.1, 10.54566788359614)

In [19]:
p=0.95
alpha=1-p

In [20]:
t=stats.t.ppf(1 - alpha / 2, n-1)
t

2.2621571627409915

In [21]:
t * s / np.sqrt(n)

7.543916348412745

In [22]:
(m - t * s / np.sqrt(n), m + t * s / np.sqrt(n))

(110.55608365158724, 125.64391634841274)

### Задание 3

Известно, что рост футболистов в сборной распределен нормально с известной дисперсией 25. На выборке объёма 27 выборочное среднее составило 174.2. Найдите доверительный интервал для математического ожидания с надежностью 0.95.

Нам известна дисперсия, поэтому доверительный интервал для мат ожидания с надежностью 0,95 будем искать по правилу 2-х сигм.

In [23]:
import numpy as np
from scipy import stats

In [24]:
D=25
n=27
m=174.2
p=0.95
s=np.sqrt(D/n)

In [25]:
(m-2*s,m+2*s)

(172.27549910270125, 176.12450089729873)

### Задание 4

Выберите тему для проектной работы по курсу Теории вероятностей и математической статистики и напишите ее в комментарии к Практическому заданию.

### пока не выбрал прошу дать еще 2 дня